*
!*.*
!*/
!Makefile

# Development
.vscode
.cache
.gdbinit*
*.json
*.txt
*.log

# Prerequisites
*.d

# Build output
*.asm
*.img
*.sym
*.S

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
